html.black {
  --we-color-subtractor: 100%;
  --we-color-multiplier: -1;
}

html.black we-tooltip::part(tooltip) {
  background: var(--we-color-ui-100);
  color: var(--we-color-black);
}

html.black we-menu-item::part(base) {
  margin-top: var(--we-space-100);
  margin-left: var(--we-space-400);
  margin-right: var(--we-space-400);
  border-radius: 6px;
}
