$sidebar-width: 250px;

.we-centered-template {
  // --we-centered-template-sidebar-width: 150px;

  height: 100%;
  width: 100%;

  .we-centered-template-container {
    width: 100%;
    max-width: 1000px;
    height: 100%;

    .we-centered-template-sidebar {
      width: $sidebar-width;
      height: 100%;

      // Force the component passed to the slot to use the full sidebar height
      > * {
        height: 100%;
      }
    }

    .we-centered-template-content {
      flex: 1;
      // height: 100%;
      border-left: 1px solid var(--we-color-ui-75);
      border-right: 1px solid var(--we-color-ui-75);
    }
  }

  // .we-centered-template-sidebar {
  //   width: var(--we-centered-template-sidebar-width);
  //   height: 100%;

  //   // Force the component passed to the slot to use the full sidebar height
  //   > * {
  //     height: 100%;
  //   }
  // }

  // .we-centered-template-content {
  //   flex: 1;
  //   height: 100%;

  //   .we-centered-template-header {
  //     // height: var(--we-centered-template-header-height);
  //     position: absolute;
  //     right: 0;
  //     // width: calc(100% - var(--we-centered-template-sidebar-width));

  //     // Force the component passed to the slot to use the full header height
  //     > * {
  //       height: 100%;
  //     }
  //   }

  //   .we-centered-template-pages {
  //     width: 100%;
  //     height: 100%;
  //   }
  // }

  // .we-centered-template-modals {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   height: 100vh;
  //   width: 100vw;
  //   pointer-events: none;

  //   > * {
  //     pointer-events: all;
  //   }
  // }
}
