.we-default-template {
  --sidebar-width: 90px;

  .we-sidebar-widget {
    width: var(--sidebar-width);
  }

  .main-content {
    margin-left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    min-height: 100vh;

    .we-header-widget {
      width: calc(100vw - var(--sidebar-width));
    }
  }
}
