.we-default-template {
  --we-default-template-sidebar-width: 90px;
  --we-default-template-header-height: 60px;

  height: 100vh;
  width: 100vw;

  .we-default-template-sidebar {
    width: var(--we-default-template-sidebar-width);
    height: 100%;

    // Force the component passed to the slot to use the full sidebar height
    > * {
      height: 100%;
    }
  }

  .we-default-template-content {
    flex: 1;

    .we-default-template-header {
      // height: var(--we-default-template-header-height);
      width: 100%;

      // Force the component passed to the slot to use the full header height
      > * {
        height: 100%;
      }
    }

    .we-default-template-pages {
      width: 100%;
      flex: 1;
    }
  }

  .we-default-template-modals {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;

    > * {
      pointer-events: all;
    }
  }
}
