.we-dynamic-template {
  --narrow-sidebar-width: 90px;

  .we-narrow-sidebar-widget {
    width: var(--narrow-sidebar-width);
  }

  // .main-content {
  //   margin-left: var(--narrow-sidebar-width);
  //   width: calc(100vw - var(--narrow-sidebar-width));
  //   min-height: 100vh;

  .we-header-widget {
    width: calc(100vw - var(--narrow-sidebar-width));
  }
  // }
}
