:root {
  /* BORDERS  */
  --we-border-width: 1px;
  --we-border-radius: 8px;
  --we-border-radius-sm: 4px;
  --we-border-radius-md: 8px;
  --we-border-radius-lg: 16px;
  --we-border-color: var(--we-color-ui-100);
  --we-border-color-strong: var(--we-color-ui-200);
}
