:root {
  /* SCROLLBAR */
  --we-scrollbar-width: 6px;
  --we-scrollbar-background-image: none;
  --we-scrollbar-background: transparent;
  --we-scrollbar-corner-background: #dfdfdf;
  --we-scrollbar-thumb-box-shadow: none;
  --we-scrollbar-thumb-border-radius: var(--we-border-radius);
  --we-scrollbar-thumb-background: hsl(var(--we-color-ui-hue) 5% var(--we-color-lightness-100));
}
