:root {
  /* DEPTH (SHADOWS) */
  --we-depth-none: none;
  --we-depth-100: 0px 1px 1px 0px rgb(9 30 66 / 50%), 0px 2px 4px 0px rgb(9 30 66 / 15%);
  --we-depth-200: 0px 2px 2px 0px rgb(9 30 66 / 6%), 0px 4px 8px -2px rgb(9 30 66 / 25%);
  --we-depth-300: 0px 2px 2px 0px rgb(9 30 66 / 6%), 0px 8px 16px -4px rgb(9 30 66 / 25%);
  --we-depth-400: 0px 4px 4px 0px rgb(9 30 66 / 6%), 0px 12px 24px -6px rgb(9 30 66 / 25%);
  --we-depth-500: 0px 6px 6px 0px rgb(9 30 66 / 10%), 0px 20px 32px -8px rgb(9 30 66 / 25%);
}
