@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');

:root {
  /* FONT FAMILY */
  --we-font-family: 'DM Sans', sans-serif;
  --we-font-base-size: 16px;

  /* FONT SIZES */
  --we-font-size-100: 0.56rem;
  --we-font-size-200: 0.63rem;
  --we-font-size-300: 0.75rem;
  --we-font-size-400: 0.88rem;
  --we-font-size-500: 1rem;
  --we-font-size-600: 1.25rem;
  --we-font-size-700: 1.5rem;
  --we-font-size-800: 2rem;
  --we-font-size-900: 2.63rem;
  --we-font-size-1000: 3.63rem;
}
