.menu {
  position: absolute;
  top: 20px;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--we-color-ui-0);
  padding: 5px;
  border-radius: 5px;
  font-family: var(--we-font-family);
  border: 1px solid var(--we-color-ui-300);
  min-width: 200px;

  .menuItem {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    height: 30px;
    padding: 0 5px;
    font-size: 14px;
    color: var(--we-color-ui-900);

    &.focused {
      background-color: var(--we-color-ui-50);
    }

    .md {
      font-size: 12px;
      color: var(--we-color-ui-300);
    }
  }
}
