.editor {
  outline: none;
  position: relative;

  .block {
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    color: var(--we-color-ui-900);
    position: relative;
    transition: var(--we-transition-200);
  }

  p,
  h1,
  h2,
  h3,
  li {
    @extend .block;
  }

  ul,
  ol {
    margin: 0;
    padding-left: 0;
  }

  li {
    margin-left: 30px;
  }
}
