.editor {
  outline: none;
  position: relative;

  .block {
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    color: var(--we-color-ui-900);
    position: relative;
    // transition: background-color var(--we-transition-200);

    &[data-block-highlighted='true'] {
      background-color: var(--we-color-ui-25);
    }
  }

  p,
  h1,
  h2,
  h3,
  blockquote,
  li {
    @extend .block;
  }

  blockquote {
    padding-left: 28px;
    color: var(--we-color-ui-600);
    // font-style: italic;

    &::after {
      content: ' ';
      position: absolute;
      top: 10px;
      left: 10px;
      height: calc(100% - 20px);
      background-color: var(--we-color-ui-100);
    }
  }

  ul,
  ol {
    margin: 0;
    padding-left: 0;
  }

  // Apply bullet markers to unordered lists based on their nesting level
  $bullets: '•', '◦', '▪';
  $bullet-levels: length($bullets);

  ul > li::after {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 22px;
    content: nth($bullets, 1);
  }

  @for $i from 1 through 20 {
    $selector: 'ul';
    @for $j from 1 through $i {
      $selector: $selector + ' > li > ul';
    }

    #{$selector} > li::after {
      content: nth($bullets, ($i % $bullet-levels) + 1);
    }
  }

  ol {
    counter-reset: list-item;
  }

  ol > li {
    counter-increment: list-item;

    &::after {
      content: counter(list-item) '.';
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 16px;
    }
  }

  li {
    list-style: none;
    position: relative;
    padding-left: 30px;

    &:has(> ul),
    &:has(> ol) {
      padding-bottom: 0;
    }

    &:before {
      margin-left: 20px;
    }

    ul,
    ol {
      li {
        &:first-child {
          margin-top: 10px;
        }

        margin-left: 20px;
      }
    }
  }
}
