.editor {
  outline: none;
  position: relative;

  .block {
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 0;
    color: var(--we-color-ui-800);
    position: relative;
  }

  p,
  h1,
  h2,
  h3 {
    @extend .block;
  }
}
