.wrapper {
  background-color: var(--we-color-ui-75);

  > button {
    all: unset;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--we-color-ui-500);
  }
}
