[data-we-theme='dark'] {
  --we-color-primary-50: oklch(
    var(--we-color-lightness-50) calc(min(var(--we-color-saturation) * 0.0035, 0.18) * 0.08) var(--we-color-primary-hue)
  );
}

[data-we-theme='dark'] we-modal::part(base) {
  box-shadow: 0 0 40px 20px
    oklch(20% calc(min(var(--we-color-saturation) * 0.0035, 0.18) * 0.4) var(--we-color-primary-hue) / 5%);
}

[data-we-theme='dark'] we-text[variant='heading-md'] {
  color: var(--we-color-primary-700);
}
