.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 100;

  a {
    // box-shadow: 0 0 0 0.5px rgba(black, 0.1);
    border-radius: 50%;
    width: var(--we-size-md);
    height: var(--we-size-md);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--we-transition-400);

    &:hover {
      //   box-shadow: 0 0 8px 3px rgba(black, 0.1);
      //   box-shadow: 0 0 0 0.5px var(--we-color-ui-100);
      background-color: var(--we-color-ui-100);
    }

    > we-icon {
      --we-icon-size: 28px;
    }
  }

  &.left {
    left: 0;
    // border-right: 1px solid var(--we-color-ui-100);
  }

  &.right {
    right: 0;
    // border-left: 1px solid var(--we-color-ui-100);
  }
}
